<div class='row'>
  <div class='col-md-5'>
    <app-recipe-list (recipeReceivedAndSent)="recipeHere=$event"></app-recipe-list>
  </div>
  <div class='col-md-7'>
    <app-recipe-detail *ngIf="recipeHere; else infoText" [recipeElement]=recipeHere >      
    </app-recipe-detail>
    <ng-template #infoText>
        <p>Please select a recipe</p>
    </ng-template>
  </div>
</div>