<app-header (clickHandled)='onClickReallyHandled($event)'></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf='clicker=="Recipes"' ></app-recipes>
      <app-shopping-list *ngIf='clicker=="Shopping List"' ></app-shopping-list>
    </div>
  </div>
</div>