<a href='#' class='list-group-item clearfix' (click)="onRecipeClicked(recipeElement)">
  <div class="pull-left">
      <h4 class='list-group-item-heading'>{{recipeElement.name}}</h4>                
      <p class='list-group-item-text'>{{recipeElement.description}}</p>                
    </div>
    <span class='pull-right'>
      <img [src]='recipeElement.imagePath' alt='' class='img-responsive' style='max-height: 50px;'>
    </span>
</a>