<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>        
    </div>
    <hr>
    <div class="col-xs-12">        
        <app-recipe-item *ngFor='let recipe of recipes' [recipeElement]="recipe" (recipeClicked)="onRecipeClicked($event)"></app-recipe-item>
    </div>
</div>
