<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="onAdding(nameInput.value, amountInput.value)">Add</button>
          <button class="btn btn-danger" type="button" (click)="onDeleting(nameInput.value, amountInput.value)">Delete</button>
          <button class="btn btn-warning" type="button" >Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>